<footer>
  <ul class="authors">
    <li>Copyright &copy; 2023 I3a</li>
    <li><a href="https://tsadriu.dev">Tsadriu</a></li>
    <li><a href="https://alexdevs.me">AlexDevs</a></li>
    <li>Zina Gharsallaoui</li>
  </ul>
</footer>