<!DOCTYPE html>
<html lang="it">

<%- include('partials/head.ejs') %>

<body>
  <img src="img/STT2TTS.png" class="brand-logo">
  <h2 class="center">Oops!</h2>
  <div class="center">
    <p>Qualcosa è andato storto.</p>
    <p><i>Dettaglio: <%= error %></i></p>
    <a href="/" class="button">Torna alla pagina principale</a>
  </div>

  <%- include('partials/footer.ejs') %>
</body>

</html>