<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        Testo del file in <b>
            <% fromLanguage % >
        </b>: <p>
            <% originalText % >
        </p>.
    </div>
    <div>
        Testo del file tradotto da <b class="originLanguage"></b> a <b class="outputLanguage"></b>: <p
            class="outputAudioText"></p>.
    </div>
    <div>
        Audio del file tradotto:
    </div>
</body>

</html>