body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #242424;
}

h1 {
  text-align: center;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  font-style: italic;
}

label {
  display: block;
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: bold;
}

mark {
  background-color: transparent;
  color: #2196f3;
}

.authors {
  list-style: none;
  padding: 0;
}

.authors li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}