<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form>
    <!--Input che serve per allegare un file-->
    <input type="file" id="audioFile" required>
    <select id="languageSelect">
      <%  languages.forEach(lang => {%>
      <option value="<%= lang.code %>"><%= lang.name %></option>
      <% }) %>
    </select>
    <button type="submit">Converti da speech in text</button>
  </form>

  <div id="translatedText">Nessun testo tradotto.</div>
  <script src="index.js"></script>
</body>

</html>